@use "themes/everforest";

window.applauncher {
    background-color: everforest.$bg;
    color: everforest.$fg;
}

.search {
    background-color: everforest.$bg3;
    color: everforest.$fg;

    &:focus {
        border-color: everforest.$fg;
    }
}

.app-item {
    background-color: everforest.$bg2;
    color: everforest.$fg;
}

.app-list {
    background-color: everforest.$bg2;
}

.app-button {
    background-color: everforest.$bg2;
}